src/main/mule/tradelines-id-put.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="tradelines-id-putFlow" doc:id="d76c270f-4bc7-429b-8d93-6c024d12e925" >
		<ee:transform doc:name="Set Parameters" doc:id="8666540b-ce1c-452a-9ee0-69f39539f12d">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="TradelineId"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.id]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:update doc:name="Update" doc:id="5c92a4a3-b0de-47fb-a886-cc8a29f41931" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE Tradelines
	SET                     
	FirstName = :firstName,
	LastName = :lastName,
	CreditorName = :creditorName,
	MinPaymentPercentage = :minPaymentPercentage,
	Balance = :balance                        
	WHERE Id = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
    'firstName': payload.firstName,
    'lastName': payload.lastName,
    'creditorName': payload.creditorName,
    'minPaymentPercentage':payload.minPaymentPercentage,
    'balance': payload.balance,
    'id': vars.TradelineId
}]]]></db:input-parameters>
		</db:update>
	</flow>
</mule>
